@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }

  .logo img {
    width: 30px;
    height: 30px;
  }
  .logo h1 {
    font-size: 1.34644rem;
  }
  .h1-primary {
    font-size: 1.25rem;
  }
  .p-primary {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  /* --------------Header Section Style------------- */
  header nav {
    flex-direction: column;
    justify-content: center;
  }
  header nav ul {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  header nav ul a {
    font-size: 0.875rem;
  }

  .hero-section h1 {
    font-size: 1.375rem;
  }
  .hero-section p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .input-container {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .input-container input,
  .input-container select {
    max-width: 90%;
    width: 90%;
  }
  /* -------------------------------------------------------- */
  /* ---------------------Our popular Section ------------------ */
  .popular-tour {
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
  }
  .popular-tour .contenet h1 {
    font-size: 1.375rem;
  }
  .popular-tour .contenet p,
  .popular-tour .contenet ul {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 16px;
  }
  .popular-tour .contenet button {
    margin-left: 33%;
  }
  .popular-tour img {
    margin-top: 24px;
    max-width: 98%;
  }
  /* ------------------------------------------------- */
  /* ---------------- Destination section ------------- */
  .destination {
    margin-top: 24px;
  }
  .destination h1 {
    font-size: 1.25rem;
    font-weight: 800;
  }
  .destination p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
  }
  .destination .photo-container {
    margin-top: 16px;
  }
  .destination .photo-container .photo-box h2 {
    font-size: 1.25rem;
  }
  .destination .photo-container .row-1,
  .destination .photo-container .row-2,
  .destination .photo-container .row-3 {
    flex-direction: column;
    justify-content: none;
    align-items: center;
    margin-top: 0px;
    gap: 0px;
  }
  .destination .photo-container .photo-box {
    width: 100%;
    height: 200px;
    margin-top: 16px;
  }
  .destination .photo-container .photo-box img {
    object-fit: cover;
    border-radius: 10px;
  }

  /* --------------------------------------------------------- */
  /* ---------------------Why Choose us section --------------------- */
  .why-contianer .box h1 {
    font-size: 1.2rem;
  }
  .why-contianer .box p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  /* -------------------------------------------------------------- */
  /* ---------------------Newsletter section --------------------- */
  .newsletter {
    margin-top: 24px;
  }
  .newsletter .detail {
    width: 100%;
  }
  .newsletter .img-section {
    margin-top: 16px;
    width: 100%;
    margin-left: 0px;
    height: fit-content;
  }
  .newsletter .img-section img {
    width: 100%;
  }
  .newsletter .img-section .tag {
    width: 214.023px;
    height: 79.268px;
    bottom: 34px;
  }
  /* ----------------Perfect Place Section------------------ */
  .parfect-place {
    margin-top: 24px;
  }
  .parfect-place .content {
    max-width: 100%;
  }
  .parfect-place img {
    width: 100%;
  }
  .parfect-place .content > ul li {
    font-size: 0.875rem;
  }
  /* ----------------Testimonial section ------------------ */
  .testimonial {
    margin-top: 24px;
  }
  .testimonial .review-box .top-section .h-box h1 {
    color: #131318;
    font-size: 1.25rem;
  }

  /* ---------------------Footer Section --------------------- */
  footer {
    margin-top: 24px;
    width: 100%;
  }
  footer .logo {
    padding-top: 35px;
  }
  footer p {
    font-size: 0.875rem;
    line-height: 1.5rem; /* 171.429% */
  }
  footer .social-media {
    margin-bottom: 24px;
  }
  footer hr {
    width: 80%;
    margin-bottom: 24px;
  }
}
