@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.container {
  width: 80%;
  margin: 40px auto 0;
}
/* ------------- Shared Style ------------ */
.btn-primary {
  padding: 16px 32px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.active {
  color: #ff5400;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 14px;
}
.logo h1 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.logo h1 span {
  color: #ff5400;
}
.h1-primary {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.p-primary {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.center {
  text-align: center;
}
/* ----------- Header Section Style --------- */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li {
  margin-left: 40px;
}
header nav ul a {
  text-decoration: none;
  color: #424247;
  font-family: Mulish;
  font-size: 1.125rem;
  font-weight: 400;
}

.hero-section {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group13.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 41px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.hero-section p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 20px;
  max-width: 670px;
}
.input-container {
  margin-top: 43px;
  display: inline-flex;
  justify-content: center;
  padding: 16px;
  gap: 24px;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.input-container input {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  border: none;
  max-width: 164px;
}
.input-container select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  border: none;
  width: 195px;
}
.input-container button i {
  margin-right: 6px;
}
/* -------------------------------------------------------------------------- */
/* -----------------Our Popular Section Style-------------------------------- */
.popular-tour {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.popular-tour .contenet p,
.popular-tour .contenet ul {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 24px;
  max-width: 577px;
}
.popular-tour .contenet ul li {
  max-width: 520px;
  margin-left: 15px;
}
.popular-tour .contenet button {
  margin-top: 34px;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------Destination section Style ----------------------------- */
.destination {
  margin-top: 100px;
}
.destination h1 {
  text-align: center;
}
.destination p {
  margin-top: 24px;
}
.destination .photo-container {
  margin-top: 48px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.destination .photo-container .photo-box {
  position: relative;
  width: fit-content;
  height: 300px;
}
.destination .photo-container .photo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.destination .photo-container .photo-box h2 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
.destination .photo-container .row-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.destination .photo-container .row-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 8px;
}
.destination .photo-container .row-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
/* -------------------------------------------------------------------------- */
/* ----------------Why Choose Us section Style-------------------------------- */
.why-choose {
  margin-top: 100px;
}
.why-choose p {
  margin-top: 24px;
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
}
.why-contianer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 24px;
  flex-wrap: wrap;
}
.why-contianer .box {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  max-width: 573px;
  max-height: 284px;
}
.why-contianer .box img {
  max-width: 55px;
  aspect-ratio: 1/1;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
}
.why-contianer .box h1 {
  margin-left: 32px;
  margin-bottom: 16px;
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.why-contianer .box p {
  margin-left: 32px;
  margin-bottom: 32px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  max-width: 486px;
}
.box-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.box-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.box-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* -------------------------------------------------------------------------- */
/* ----------------footer section style-------------------------------------- */
footer {
  margin-top: 100px;
  width: 100%;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .logo {
  padding-top: 110px;
}

footer p {
  max-width: 769px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 32px;
}
footer .social-media {
  width: fit-content;
  font-size: 18px;
  margin-bottom: 50px;
}
footer .social-media a {
  text-decoration: none;
  color: #131318;
  margin-bottom: 50px;
  margin-left: 10px;
}
footer hr {
  width: 60%;
  margin-bottom: 50px;
}

footer .copyright {
  color: #131318;
  font-size: 1rem;
  font-weight: 300;
}
/* -------------------------------------------------------- */
